.detail {
  height: fit-content;
  width: 100%;
}

.detail > img {
  width: 100%;
  height: auto;
}

.bio {
  width: 100%;
  height: fit-content;
  color: black;
}

.detail > .bio {
  font-size: large;
  font-weight: lighter;
}

.bio > h1 {
  text-align: center;
  padding: 10px;
  color: #4646f1;
}
.trailer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 15px;
}
.text {
  text-align: center;
  font-weight: lighter;
  color: #3737ac;
  font-size: large;
}
.bio > p {
  padding: 10px;
  display: flex;
  align-items: center;
}
.bio button {
  cursor: pointer;
  font-size: large;
  padding: 10px 10px;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 25px 25px;
  padding: 10px 10px;
  color: white;
  background-color: #3d3dad;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-top: 15px;
}
.im-clock {
  color: #4646f1;
  margin-right: 10px;
}
.im-date-o {
  color: #3d3dad;
  margin-right: 10px;

}
.im-play {
  color: #4646f1;
  margin-right: 10px;
}
.im-star{
    margin-right:10px;
}
.about {
  text-decoration: none;
  width: fit-content;
  color: #4646f1;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 10px;
}
.about:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #3d3dad;
  position: absolute;
  left: 0px;
  bottom: -5px;
  transform: translateX(-50%);
}
