@media (max-width: 780px) {
  /* for mobile */
  .card-sm {
    width: 30% !important;
  }
  .img-sm{
    height: 40vw !important;
  }
}


.movie-cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.movie {
  width: 22%;
  height: fit-content;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15) !important;
  margin-bottom: 3rem;
  border-radius: 5px;
}
.movie-img {
  display: flex;
  height: 30vw;
  width: 100%;
}
.movie-img > img {
  width: 100%;
  height: auto;
}
.movie-info {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 15px;
  padding-bottom: 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;

}
.movie-info h3{
  color: #3d3dad;
  font-weight: lighter;
  font-size:1.8rem;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  white-space: normal;
}
.movie-info hr{
  width: 100%;
}
.movie-info small{
  margin: 0px;
  color: black;
  font-weight: lighter;
  font-size: 1.4rem;
  margin-top: 10px;

}
.fa-star{
  color: #ffc107;
}

.explore-header {
  color: #3d3dad;
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
}

.im-star {
  color: gold;
}

.load {
  position: relative;
  left: 45%;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 25px 25px;
  padding: 10px 10px;
  color: white;
  background-color: #3d3dad;
}
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  background: #3b3ba7e8;
  padding: 40px;
  border-radius: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-main a {
  text-decoration: none;
  margin-bottom: 15px;
  font-size: xx-large;
  color: white;
  font-weight: bold;
  text-align: center;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.infinite-load {
  text-align: center;
  color: #3737ac;
  font-weight: lighter;
}
.fa-arrow-right-long{
  margin-left: 15px;
}
